body, .navbar {
    background: linear-gradient(to right, #00FAFA33, #FAFA33, #00FAFA33)
}


#navbar-header {
    color: #333333;
    font-style: italic;
}

.logo {
    height: 4rem;
    margin-left: 0.5rem;
}

.nav-link {
    font-size: 1.5rem;
    color: #333333;
    font-weight: 800;
}

.hero {
    background-color: #09e686;
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.lead {
    font-weight: bold;
    color:  #212529;
    font-size: 1.5rem;
}

hr {
    border-top: 1rem dashed;
}


#work-header {
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.portfolio-1 {
    width: 100%;
    border: 1rem solid #333333;
    border-width: 15px;
}

.project {
    height: 16rem;
}

.portfolio-2, .portfolio-3 {
    width: 100%;
    height: 22rem;
    object-fit: fill;
    border: 5px solid #333333;
    border-width: 0.5rem;
}


.portfolio-4 {
    width: 100%;
    height: 22rem;
    border: 5px solid #333333;
    border-width: 0.5rem;
}


.content {
    padding: 50px;
}

.about, .contact {
    margin-top: 15px;
    margin-bottom: 15px;
}


.side-accent {
    background: #007bff;
    width: 15px;
}

.skills {
   flex-wrap: wrap;

}

.skill {
    margin: 0.5rem;
    width: 365px;
    border: 5px solid #333333;
    border-width: 0.5rem;
}

.image-container {
    padding: 50px;
}

.image-container img {
    width: 100%;
}


.size {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 3;
}

.contact-icon {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 500px) {

    .project {
        height: 32rem;
    }

    .card-container {
        margin-bottom: 1rem;
    }

    .img {

        min-width: 0;
    }

}